{% extends 'base.html' %}

{% block title %} INICIO GAP {% endblock %}

{% block content %}



<div class="card bg-dark">
  <div class="row">
    <div class="card m-5 p-5 col-lg-4 col-md-8 col-sm-10 col bg-secondary">
      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endif %}
      <form class="needs-validation" novalidate method="POST" action="">
        {% csrf_token %}
        <div class="from">
          <label for="usuario" for="usuario" class="form-label">Usuario</label>
          <input type="text" class="form-control"  name="usuario" required>
          <div class="invalid-feedback">
            Debe agregar un usuario
          </div>
        </div>

        <div class="mb-3">
          <label for="clave" for="clave" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="clave" required>
          <div class="invalid-feedback">
            Indicar la contraseña
          </div>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Ingresar</button>
        </div>
      </form>
      <button class="btn btn-success m" > 
        <a href="/registro/" target="_blank" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> Registrar </a>
      </button>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 col fs-2 text-light fst-italic p-5"
      style="font-style: oblique; font-family:serif;">
      <p>
        Nadie hace bien lo que no sabe; por consiguiente, nunca se hará República con gente ignorante, sea cual fuere el plan que se adopte.
      </p>
    </div>
  </div>
</div>

{% endblock %}